<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regresstion Suite">

<test name="1. Verify Rosters Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyRosters" />
				</methods>
			</class>
		</classes>
	</test> 

	<test name="2. Verify Eligibility Search Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyEligibilitySearch" />
				</methods>
			</class>
		</classes>
	</test> 

	 <test name="3. Verify Enrollment Referrals Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyEnrollmentRef" />
				</methods>
			</class>
		</classes>
	</test> 

	<test name="4. Verify Claims And Payments Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyClaimsAndPayments" />
				</methods>
			</class>
		</classes>
	</test> 

<test name="5. Verify Authorizations Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyAuthorizations" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="6. Verify Provider Directory Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyProviderDirectory" />
				</methods>
			</class>
		</classes>
	</test> 

	<test name="7. Verify Formulary Search Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyFormularySearch" />
				</methods>
			</class>
		</classes>
	</test>

	 <test name="8. Verify Provider Toolkit Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyProviderToolkit" />
				</methods>
			</class>
		</classes>
	</test>   
	 <test name="9. Verify Appeals Disputes Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyAppealsDisputes" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="10. Verify Communication Center Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyCommunicationCenter" />
				</methods>
			</class>
		</classes>
	</test> 

<test name="11. Verify Resources Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyResources" />
				</methods>
			</class>
		</classes>
	</test> 

	<test name="12. Verify My Account Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyMyAccount" />
				</methods>
			</class>
		</classes>
	</test> 

	 <test name="13. Verify Log out Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyLogOut" />
				</methods>
			</class>
		</classes>
	</test> 

	<test name="14. Verify Terms of Use Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyTermsOfUse" />
				</methods>
			</class>
		</classes>
	</test>

	 <test name="15. Verify Privacy Policy Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyPrivacyPolicy" />
				</methods>
			</class>
		</classes>
	</test> 

	<test name="16. Verify Tech Support Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyTechSupp" />
				</methods>
			</class>
		</classes>
	</test> 

<test name="17. Verify Contact Us Link">
		<parameter name="browserName" value="Chrome" />
		<parameter name="author" value="Dayanzi" />
		<classes>
			<class name="providerPortalVNSHealthPlans.verifyAllLinks">
				<methods>
					<include name="logIn" />
					<include name="verifyContactUs" />
				</methods>
			</class>
		</classes>
	</test>

<!--<test name="verifyRosters">
	<parameter name="browserName" value="Chrome" />
	<parameter name="author" value="Dayanzi" />
	<classes>
		<class name="providerPortalVNSHealthPlans.verifyAllLinks">
			<methods>
				<include name="verifyRosters" />
				<include name="verifyEligibilitySearch" />
				<include name="verifyEnrollmentRef" />
				<include name="verifyClaimsAndPayments" />
				<include name="verifyAuthorizations" />
				<include name="verifyProviderDirectory" />
				<include name="verifyFormulatorySearch" />
				<include name="verifyProviderToolkit" />
				<include name="verifyAppealsDisputes" />
				<include name="verifyCommunicationCenter" />
				<include name="verifyResources" />
				<include name="verifyMyAccount" />
				<include name="verifyLogOut" />
				<include name="verifyTermsOfUse" />
				<include name="verifyPrivacyPolicy" />
				<include name="verifyTechSupp" />
				<include name="verifyContactUs" />
			</methods>
		</class>
	</classes>
</test>-->


</suite>
